<head>
<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.1.0/gl-matrix.js"></script>
</head>


<body>
<canvas id="canvas"></canvas>
<br>
<button class="btn btn-outline btn-info-outline text-center">View Contracts</button>
<hr>
<button class="btn btn-outline-secondary text-center">Admin</button>
<script src="/static/js/homepage.js"></script>
</body>
