<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contracts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
      var contracts = {{ contracts }}
      var corp = {{ corp }}
  </script>
    <script>
        var contracts = {{ contracts }}
        var corp = {{ corp }}
        var progress = {{ progress }}
    </script>
</head>
<body>

<div class="container">
  <h2>Information</h2>
  <p>Our jump freighters will usually run once a week, or if the cargohold is 100%.</p>

  <h2>Reward Calculator</h2>
  <form>
  Enter contract size (m3): <input type="text" id="firstNumber" /><br>
  Enter desired collateral (in millions): <input type="text" id="secondNumber" /><br>
  <input type="button" onClick="calculateReward()" Value="Calculate" />
  </form>
  <h4>Reward</h4><input type="text" id="rewardHolder" disabled><span id = "result"></span></input>



  <h2>Cargohold</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
  </div>
  <h2>Contracts issued to {{corp}}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Issuer</th>
        <th>Date issued</th>
        <th>Date expired</th>
        <th>Volume</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for item in contracts %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<script>
function calculateReward()
{
        num1 = document.getElementById("firstNumber").value;
        num2 = document.getElementById("secondNumber").value;
        document.getElementById("rewardHolder").innerHTML = (num1*600) + (num2*10000);
}
</script>
</body>
</html>
